# values.yaml
replicaCount: 1

image:
  pullPolicy: IfNotPresent

persistence:
  config:
    enabled: true
    size: 5Gi
    storageClass: ''
    existingClaim: nfs-config-pvc
  media:
    enabled: true
    type: pvc
    size: 100Gi
    storageClass: ''
    existingClaim: nfs-media-pvc

ingress:
  enabled: true
  className: 'traefik'
  hosts:
    - host: jellyfin.example.com
      paths:
        - path: /
          pathType: Prefix

resources:
  limits:
    cpu: 2000m
    memory: 4Gi
  requests:
    cpu: 500m
    memory: 1Gi

nodeSelector: {}
tolerations: []
affinity: {}